.tags {
	@include flex;
	@include flex-wrap(wrap);
	@include align-items(center);
	padding-bottom: 48px;
	margin-bottom: -24px;
	
	@media (max-width: 991px) {
		padding-bottom: 24px;
		margin-bottom: -12px;
	}
	
	&__item {
		@include flex;
		@include align-items(center);
		@include border-radius(12px);
		height: 24px;
		padding: 0 12px;
		white-space: nowrap;
		background: $darkGrey;
		font-size: 12px;
		color: $white !important;
		text-decoration: none;
		margin: 0 12px 24px 0;
		
		@media (max-width: 991px) {
			margin-bottom: 12px;
		}
		
		&:hover {
			background: $black;
		}
		
		&::before {
			@include border-radius(50%);
			content: '';
			width: 6px;
			height: 6px;
			background: $white;
			margin-right: 8px;
		}
	}
}