body {
	background: $white;
	color: $black;
	font-size: 18px;
	font-weight: normal;
	font-family: 'Gilroy';
	overflow-x: hidden;
	
	@media (max-width: 991px) {
		font-size: 16px;
	}
}

body * {
	outline: none !important;
}

b,
strong {
	font-weight: bold;
}

body a {
	color: $blue;
	text-decoration: underline;
	
	&:hover {
		text-decoration: none;
	}
}

.container {
	@media (min-width: 1200px) {
		max-width: 1120px;
	}
}

button {
	@include border-radius(0);
	background: none;
	border: 0;
	padding: 0;
	margin: 0;
	cursor: pointer;
}

.full-link {
	
	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
	}
}

.rouble {
	font-family: 'rouble';
	font-style: normal !important;
	text-transform: none !important;
}

.btn {
	@include border-radius(5px);
	@include transition($transition);
	background: $blue;
	color: $white;
	font-size: 20px;
	padding: 0 50px;
	
	@media (max-width: 991px) {
		font-size: 16px;
	}
	
	&:hover {
		background: $black;
	}
	
	&._small {
		height: 34px;
		font-size: 15px;
	}
	
	&._big {
		height: 70px;
		
		@media (max-width: 991px) {
			height: 50px;
		}
	}
	
	&._middle {
		height: 55px;
	}
}

.section {
	padding: 120px 0;
	background: $white;
	
	@media (max-width: 991px) {
		padding: 60px 0;
	}
	
	&._grey {
		background: $lightGrey;
	}
	
	&._blue {
		background: $blue;
	}
	
	&._nopb {
		padding-bottom: 0 !important;
	}
	
	&._nopt {
		padding-top: 0 !important;
	}
	
	&__blue-box {
		position: absolute;
		z-index: 1;
		
		@media (max-width: 576px) {
			display: none;
		}
		
		&._bottom {
			left: -115px;
			bottom: -100px;
		}
		
		&._top {
			@include transform(rotate(180deg));
			right: -188px;
			top: -100px;
		}
	}
	
	&__h2 {
		font-size: 56px;
		color: $black;
		font-weight: bold;
		line-height: 60px;
		padding: 0;
		margin: 0;
		
		@media (max-width: 991px) {
			font-size: 30px;
			line-height: 36px;
		}
		
		& span {
			color: $blue;
			display: block;
		}
	}
}

.main {
	padding-top: 90px;
	
	@media (max-width: 991px) {
		padding-top: 70px;
	}
}

.container-svg {
	display: none;
}

.points {
	@include flex;
	@include flex-wrap(wrap);
	@include align-items(center);
	@include justify-content(space-between);
	width: 200px;
	
	&._grey {
		
		& span {
			background: $lightGrey;
		}
	}
	
	& span {
		@include border-radius(50%);
		width: 5px;
		height: 5px;
		margin: 0 20px 30px 0;
		background: $blue;
	}
}