.map {
	
	& .container {
		position: relative;
	}
	
	&__box {
		position: absolute;
		left: 45px;
		top: calc(50% - 150px);
		max-width: 560px;
		
		@media (max-width: 991px) {
			position: relative;
			left: 0;
			top: 0;
			margin: 30px auto 0;
		}
	}
	
	&__title {
		font-size: 64px;
		line-height: 64px;
		font-weight: 800;
		color: $blue;
		text-transform: uppercase;
		white-space: nowrap;
		
		@media (max-width: 768px) {
			font-size: 50px;
			line-height: 54px;
			text-align: center;
		}
		
		@media (max-width: 576px) {
			font-size: 30px;
			line-height: 38px;
		}
	}
	
	&__bg {
		background: $blue;
		padding: 30px 65px 30px 30px;
		color: $white;
		margin-top: -10px;
		
		@media (max-width: 768px) {
			padding: 20px;
		}
	}
	
	&__address {
		font-size: 24px;
		line-height: 28px;
		margin-bottom: 30px;
		text-align: center;
		
		@media (max-width: 576px) {
			font-size: 18px;
			line-height: 22px;
			margin-bottom: 15px;
		}
	}
	
	&__item {
		@include flex;
		@include justify-content(space-between);
		margin-bottom: 30px;
		
		@media (max-width: 576px) {
			margin-bottom: 15px;
		}
		
		&:last-child {
			margin-bottom: 0;
		}
	}
	
	&__idx {
		font-size: 14px;
		font-weight: 800;
	}
	
	&__line {
		min-width: 2px;
		max-width: 2px;
		background: $white;
		margin: 0 15px;
	}
	
	&__text {
		font-size: 14px;
		line-height: 18px;
	}
	
	&__map {
		height: 435px;
	}
}