doctype html
html(lang="ru")
	head
		- var seo = {title: 'Отзывы', description: 'Описание страницы отзывов', keywords: 'Ключи страницы отзывов'}
		include includes/_meta.pug
	body
		include includes/_header.pug

		main.main

			section.subheader._small
				.section.subheader__overflow._blue
					.container
						.subheader__back
							a(href="") Главная
								svg(width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M12 6L3 6M6 10L2 6L6 2" stroke="white" stroke-width="2" stroke-linecap="square")

						h1.subheader__h1 Отзывы

					svg.section__blue-box._bottom(width="1058" height="405" viewBox="0 0 1058 405" fill="none" xmlns="http://www.w3.org/2000/svg")
						use(xlink:href="#section-blue")
					svg.section__blue-box._top(width="1058" height="405" viewBox="0 0 1058 405" fill="none" xmlns="http://www.w3.org/2000/svg")
						use(xlink:href="#section-blue")

			section.section
				.container
					- var n = 0;
					while n < 4
						.reviews__item-cols.reviews__item-page
							.reviews__item-col.reviews__item-img._left
								picture
									source(type="image/webp" srcset="img/tmp/reviews-img.webp")
									img(src="img/tmp/reviews-img.jpg" alt="")
							.reviews__item-col._right
								.reviews__item-text Добрый день, вылетела пломба которую ставила лет 8 назад, обратилась сюда по рекомендации знакомых, сразу все сделали ещё и проконсультировали по другим зубам, отвечали на все вопросы которые интересовали, рассказали про материалы которые используют, в общем теперь и я буду советовать всем своим знакомым! Спасибо.
								.reviews__item-title Екатерина Олькина
								.reviews__item-date 02.02.2022
						- n = n + 1;

					.reviews__btn
						button.btn._middle Показать еще

			include includes/_faq.pug
			include includes/_sale.pug
			include includes/_present.pug
			include includes/_map.pug
			include includes/_social.pug

		include includes/_footer.pug
		include includes/_svg.pug
		include includes/_popup.pug
		include includes/_scripts.pug