footer.footer
	.container
		.footer__line

		ul.footer__nav
			li
				a(href="text.html") О проекте
			li
				a(href="contacts.html") Контакты
			li
				a(href="text.html") Политика конфиденциальности
			li
				a(href="text.html") Условия использования

		.footer__cols
			.footer__contacts
				a._phone(href="tel:+73832994666") +7 383 299-4-666
				a._email(href="mailto:nsk@damvamdom.ru") nsk@damvamdom.ru

			.footer__copyright © ООО “Финансовые технологии”, 2016-2021

			.footer__social
				a(href="https://vk.com" target="_blank" rel="nofollow")
					svg(width="21" height="12" viewBox="0 0 21 12" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M17.4262 6.88114C17.0867 6.46114 17.1838 6.27429 17.4262 5.89886C17.4306 5.89457 20.2333 2.10086 20.5221 0.814286L20.5238 0.813428C20.6673 0.344571 20.5238 0 19.8299 0H17.5339C16.9493 0 16.6798 0.295714 16.5354 0.626571C16.5354 0.626571 15.3664 3.36771 13.7126 5.14457C13.1788 5.658 12.9321 5.82257 12.6407 5.82257C12.4972 5.82257 12.2741 5.658 12.2741 5.18914V0.813428C12.2741 0.251143 12.1104 0 11.6265 0H8.01615C7.64952 0 7.43163 0.262286 7.43163 0.506572C7.43163 1.03971 8.25854 1.16229 8.34429 2.66229V5.91686C8.34429 6.63 8.21216 6.76114 7.91902 6.76114C7.1385 6.76114 5.24406 4.00886 4.12139 0.858857C3.89476 0.247714 3.67338 0.000857081 3.08448 0.000857081H0.787527C0.13213 0.000857081 0 0.296571 0 0.627428C0 1.212 0.780527 4.11857 3.62963 7.95857C5.52844 10.5797 8.20253 12 10.6351 12C12.0973 12 12.2758 11.6846 12.2758 11.142C12.2758 8.63743 12.1437 8.40086 12.8761 8.40086C13.2156 8.40086 13.8001 8.56543 15.1652 9.82971C16.7253 11.3289 16.9817 12 17.855 12H20.1511C20.8056 12 21.1372 11.6846 20.9465 11.0623C20.5098 9.75343 17.5592 7.06114 17.4262 6.88114Z" fill="#87919F")
				a(href="https://facebook..com" target="_blank" rel="nofollow")
					svg(width="8" height="16" viewBox="0 0 8 16" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(d="M6.54 2.65667H8.00067V0.112667C7.74867 0.078 6.882 0 5.87267 0C3.76667 0 2.324 1.32467 2.324 3.75933V6H0V8.844H2.324V16H5.17333V8.84467H7.40333L7.75733 6.00067H5.17267V4.04133C5.17333 3.21933 5.39467 2.65667 6.54 2.65667Z" fill="#87919F")




