ul.pagination
	li
		a(href="#")
			svg(width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M-1.53179e-06 5.49998C-1.47688e-06 5.30284 0.0720267 5.10572 0.21578 4.95542L4.74168 0.225656C5.02959 -0.0752187 5.49637 -0.0752187 5.78416 0.225656C6.07195 0.526409 6.07195 1.01413 5.78416 1.31503L1.77939 5.49998L5.78402 9.68496C6.0718 9.98584 6.0718 10.4735 5.78402 10.7742C5.49623 11.0753 5.02944 11.0753 4.74154 10.7742L0.21564 6.04455C0.071863 5.89417 -1.58667e-06 5.69705 -1.53179e-06 5.49998Z" fill="#87919F")

	li._active
		a(href="#") 1
	li
		a(href="#") 2
	li
		a(href="#") 3
	li ...
	li
		a(href="#") 37
	li
		a(href="#")
			svg(width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M6 5.49998C6 5.30284 5.92797 5.10572 5.78422 4.95542L1.25832 0.225656C0.970413 -0.0752187 0.503627 -0.0752187 0.21584 0.225656C-0.0719466 0.526409 -0.0719465 1.01413 0.215841 1.31503L4.22061 5.49998L0.215983 9.68496C-0.0718041 9.98584 -0.071804 10.4735 0.215983 10.7742C0.50377 11.0753 0.970556 11.0753 1.25846 10.7742L5.78436 6.04455C5.92814 5.89417 6 5.69705 6 5.49998Z" fill="#87919F")
	li
		a(href="#")
			svg(width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M6 5.49998C6 5.30284 5.92797 5.10572 5.78422 4.95542L1.25832 0.225656C0.970413 -0.0752187 0.503627 -0.0752187 0.21584 0.225656C-0.0719466 0.526409 -0.0719465 1.01413 0.215841 1.31503L4.22061 5.49998L0.215983 9.68496C-0.0718041 9.98584 -0.071804 10.4735 0.215983 10.7742C0.50377 11.0753 0.970556 11.0753 1.25846 10.7742L5.78436 6.04455C5.92814 5.89417 6 5.69705 6 5.49998Z" fill="#87919F")
			svg(width="6" height="11" viewBox="0 0 6 11" fill="none" xmlns="http://www.w3.org/2000/svg")
				path(d="M6 5.49998C6 5.30284 5.92797 5.10572 5.78422 4.95542L1.25832 0.225656C0.970413 -0.0752187 0.503627 -0.0752187 0.21584 0.225656C-0.0719466 0.526409 -0.0719465 1.01413 0.215841 1.31503L4.22061 5.49998L0.215983 9.68496C-0.0718041 9.98584 -0.071804 10.4735 0.215983 10.7742C0.50377 11.0753 0.970556 11.0753 1.25846 10.7742L5.78436 6.04455C5.92814 5.89417 6 5.69705 6 5.49998Z" fill="#87919F")


