section.section.pluses._nopt
	.container
		h2.h2 Наши преимущества

		.pluses__cols
			.pluses-item
				.pluses-item__icon
					svg(width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M14 12C15.5913 12 17.1174 11.3679 18.2426 10.2426C19.3679 9.11742 20 7.5913 20 6C20 4.4087 19.3679 2.88258 18.2426 1.75736C17.1174 0.632141 15.5913 0 14 0C12.4087 0 10.8826 0.632141 9.75736 1.75736C8.63214 2.88258 8 4.4087 8 6C8 7.5913 8.63214 9.11742 9.75736 10.2426C10.8826 11.3679 12.4087 12 14 12ZM5.49775 30C2.46143 30 -0.0962645 27.4476 1.06569 24.6424C1.76925 22.9439 2.80048 21.4005 4.1005 20.1005C5.40052 18.8005 6.94387 17.7693 8.64243 17.0657C10.341 16.3621 12.1615 16 14 16C15.8385 16 17.659 16.3621 19.3576 17.0657C21.0561 17.7693 22.5995 18.8005 23.8995 20.1005C25.1995 21.4005 26.2307 22.9439 26.9343 24.6424C28.0963 27.4476 25.5386 30 22.5022 30H5.49775Z" fill="#87919F")
				.pluses-item__title Минимальная цена
				.pluses-item__text Инструменты портала помогают легко ориентироваться в сотнях поселков
			.pluses-item
				.pluses-item__icon
					svg(width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M14 12C15.5913 12 17.1174 11.3679 18.2426 10.2426C19.3679 9.11742 20 7.5913 20 6C20 4.4087 19.3679 2.88258 18.2426 1.75736C17.1174 0.632141 15.5913 0 14 0C12.4087 0 10.8826 0.632141 9.75736 1.75736C8.63214 2.88258 8 4.4087 8 6C8 7.5913 8.63214 9.11742 9.75736 10.2426C10.8826 11.3679 12.4087 12 14 12ZM5.49775 30C2.46143 30 -0.0962645 27.4476 1.06569 24.6424C1.76925 22.9439 2.80048 21.4005 4.1005 20.1005C5.40052 18.8005 6.94387 17.7693 8.64243 17.0657C10.341 16.3621 12.1615 16 14 16C15.8385 16 17.659 16.3621 19.3576 17.0657C21.0561 17.7693 22.5995 18.8005 23.8995 20.1005C25.1995 21.4005 26.2307 22.9439 26.9343 24.6424C28.0963 27.4476 25.5386 30 22.5022 30H5.49775Z" fill="#87919F")
				.pluses-item__title Агент выезжает сразу
				.pluses-item__text Инструменты портала помогают легко ориентироваться в сотнях поселков
			.pluses-item
				.pluses-item__icon
					svg(width="28" height="30" viewBox="0 0 28 30" fill="none" xmlns="http://www.w3.org/2000/svg")
						path(fill-rule="evenodd" clip-rule="evenodd" d="M14 12C15.5913 12 17.1174 11.3679 18.2426 10.2426C19.3679 9.11742 20 7.5913 20 6C20 4.4087 19.3679 2.88258 18.2426 1.75736C17.1174 0.632141 15.5913 0 14 0C12.4087 0 10.8826 0.632141 9.75736 1.75736C8.63214 2.88258 8 4.4087 8 6C8 7.5913 8.63214 9.11742 9.75736 10.2426C10.8826 11.3679 12.4087 12 14 12ZM5.49775 30C2.46143 30 -0.0962645 27.4476 1.06569 24.6424C1.76925 22.9439 2.80048 21.4005 4.1005 20.1005C5.40052 18.8005 6.94387 17.7693 8.64243 17.0657C10.341 16.3621 12.1615 16 14 16C15.8385 16 17.659 16.3621 19.3576 17.0657C21.0561 17.7693 22.5995 18.8005 23.8995 20.1005C25.1995 21.4005 26.2307 22.9439 26.9343 24.6424C28.0963 27.4476 25.5386 30 22.5022 30H5.49775Z" fill="#87919F")
				.pluses-item__title Не «заманиваем» клиентов
				.pluses-item__text Инструменты портала помогают легко ориентироваться в сотнях поселков
