doctype html
html(lang="ru")
	head
		- var seo = {title: 'Застройщик', description: 'Описание страницы застройщика', keywords: 'Ключи страницы застройщика'}
		include includes/_meta.pug
	body
		include includes/_header.pug
		include includes/_search.pug

		main.main
			.container.main__cols

				.main__content
					include includes/_breadcrumbs.pug

					h1.h1 Застройщик

					form.sorting
						.sorting__title Сортировка
						.sorting__select-wrap
							select.sorting__select(name="price")
								option(value="") По цене
								option(value="По убыванию цены") По убыванию цены
								option(value="По возрастанию цены") По возрастани цены
						.sorting__select-wrap
							select.sorting__select(name="square")
								option(value="") По площади
								option(value="По возрастанию площади") По возрастанию площади
								option(value="По убыванию площади") По убыванию площади
						.sorting__select-wrap
							select.sorting__select(name="recomendation")
								option(value="") По рекомендации
								option(value="") ???
								option(value="") ???

					section.section._nopt._nopb.zhk-cols
						- var n = 0;
						while n < 6
							.zhk-item._incol
								a.zhk-item__img(href="zhk.html")
									picture
										source(type="image/webp" srcset="img/tmp/carousel-img.webp")
										img(src="img/tmp/carousel-img.jpg" alt="")
								a.zhk-item__builder(href="builder.html") Застройщик ЛСР
								a.zhk-item__title(href="zhk.html") Эко-комплекс “Свобода”
							- n = n + 1;

					section.section.text
						p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму.

					include includes/_pluses.pug

					section.section._nopt._nopb
						.section__head
							h2.h2 Последние отзывы

						.carousel
							.carousel__init._reviews
								- var n = 0;
								while n < 6
									.carousel__item
										.reviews-item
											.reviews-item__title Иван Иванов
											.reviews-item__text Картотека строящихся и готовых коттеджных поселков СПб включает подробное описание проектов, новости о ходе работ, фото и видео.
									- n = n + 1;
							.carousel__controls
								.carousel__nav._reviews
									- var n = 0;
										while n < 6
											button(type="button")
											- n = n + 1;
								.carousel__control._reviews
									button._prev(type="button" data-controls="prev")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")
									button._next(type="button" data-controls="next")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")


				aside.main__aside
					include includes/_filters.pug

		include includes/_footer.pug

		include includes/_scripts.pug