doctype html
html(lang="ru")
	head
		- var seo = {title: 'Контакты', description: 'Описание страницы контактов', keywords: 'Ключи страницы контактов'}
		include includes/_meta.pug
	body
		include includes/_header.pug
		include includes/_search.pug

		main.main.contacts
			.container.main__cols

				.main__content
					include includes/_breadcrumbs.pug

					h1.h1 Контакты

					.contacts__map
						script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A006480c95a9bb9631558e5a0db02b1edafacd43e7ec24839c2f0ec6f3e13815e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false")

					.section.text
						p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.

					.contacts__items
						a.contacts__link(href="tel:+73831234567") +7 383 123-45-67
							svg(width="31" height="31" viewBox="0 0 31 31" fill="none" xmlns="http://www.w3.org/2000/svg")
								g(clip-path="url(#clip0)")
									path(d="M24.3412 22.0868C22.867 21.6826 21.4808 21.0521 20.2294 20.2167C19.6181 19.8001 18.7361 19.7866 18.2141 20.1011L14.9646 21.4296C12.2695 18.8705 10.8485 16.3811 10.0222 12.7703L12.7054 10.6423C13.3573 10.2621 13.7416 9.551 13.7073 8.77549C13.618 7.25351 13.7706 5.72413 14.1619 4.22975C14.4446 3.15022 13.8078 2.0343 12.7425 1.7422L8.32073 0.529762C7.25541 0.237656 6.1587 0.878263 5.87605 1.95775C2.63606 14.3315 9.93467 27.122 22.146 30.4703C23.2113 30.7624 24.308 30.1218 24.5907 29.0423L25.7606 24.5742C26.0432 23.4948 25.4064 22.3788 24.3412 22.0868Z" fill="#0B132A")
								defs
									clipPath(id="clip0")
										rect(width="24.9665" height="25.2205" fill="white" transform="matrix(0.964403 0.264436 -0.253305 0.967387 6.38867 0)")

						a.contacts__messanger(href="https://api.whatsapp.com/send?phone=73831234567" target="_blank") Написать в WhatsApp
							svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M12.5031 0H12.4969C5.60469 0 0 5.60625 0 12.5C0 15.2344 0.88125 17.7687 2.37969 19.8266L0.821875 24.4703L5.62656 22.9344C7.60313 24.2438 9.96094 25 12.5031 25C19.3953 25 25 19.3922 25 12.5C25 5.60781 19.3953 0 12.5031 0ZM19.7766 17.6516C19.475 18.5031 18.2781 19.2094 17.3234 19.4156C16.6703 19.5547 15.8172 19.6656 12.9453 18.475C9.27187 16.9531 6.90625 13.2203 6.72188 12.9781C6.54531 12.7359 5.2375 11.0016 5.2375 9.20781C5.2375 7.41406 6.14844 6.54063 6.51562 6.16563C6.81719 5.85781 7.31562 5.71719 7.79375 5.71719C7.94844 5.71719 8.0875 5.725 8.2125 5.73125C8.57969 5.74687 8.76406 5.76875 9.00625 6.34844C9.30781 7.075 10.0422 8.86875 10.1297 9.05313C10.2188 9.2375 10.3078 9.4875 10.1828 9.72969C10.0656 9.97969 9.9625 10.0906 9.77812 10.3031C9.59375 10.5156 9.41875 10.6781 9.23438 10.9062C9.06563 11.1047 8.875 11.3172 9.0875 11.6844C9.3 12.0437 10.0344 13.2422 11.1156 14.2047C12.5109 15.4469 13.6422 15.8438 14.0469 16.0125C14.3484 16.1375 14.7078 16.1078 14.9281 15.8734C15.2078 15.5719 15.5531 15.0719 15.9047 14.5797C16.1547 14.2266 16.4703 14.1828 16.8016 14.3078C17.1391 14.425 18.925 15.3078 19.2922 15.4906C19.6594 15.675 19.9016 15.7625 19.9906 15.9172C20.0781 16.0719 20.0781 16.7984 19.7766 17.6516Z" fill="white")

						a.contacts__messanger(href="tg://resolve?domain=telegramnick" target="_blank") Написать в Telegram
							svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M1.88566 8.85847L17.9073 2.23593C18.964 1.72789 20.2206 2.02098 19.9669 3.30321L19.9684 3.30163L17.0963 17.9572C16.8834 18.9963 16.3134 19.2489 15.5159 18.7594L11.1421 15.268L9.03245 17.4693C8.79918 17.7219 8.60236 17.9351 8.1504 17.9351L8.46094 13.1141L16.567 5.18233C16.9199 4.84598 16.4883 4.65649 16.0232 4.99126L6.00578 11.8224L1.68738 10.3633C0.749925 10.0412 0.729515 9.34799 1.88566 8.85847Z" fill="white")

						a.contacts__link(href="mailto:nsk@damvamdom.ru") nsk@damvamdom.ru
							svg(width="25" height="25" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg")
								path(d="M13.0634 14.6611C12.7344 14.9258 12.2611 14.9258 11.9321 14.6611L0 5V20.1225C0 20.6071 0.399745 21 0.892874 21H24.1071C24.6003 21 25 20.6071 25 20.1225V5.12987L13.0634 14.6611Z" fill="#0B132A")
								path(d="M23.8707 4H1L12.4354 14L24 4.02802C23.9577 4.01488 23.9144 4.00553 23.8707 4Z" fill="#0B132A")


				aside.main__aside
					include includes/_filters.pug

		include includes/_footer.pug

		include includes/_scripts.pug