doctype html
html(lang="ru")
	head
		- var seo = {title: 'Новость', description: 'Описание страницы новости', keywords: 'Ключи страницы новости'}
		include includes/_meta.pug
	body
		include includes/_header.pug
		include includes/_search.pug

		main.main.text.news-page
			.container.main__cols

				.main__content
					include includes/_breadcrumbs.pug

					.news-page__top
						.news-page__date 12.06.2020
						a.news-page__link(href="zhk.html") ярлык жк

					.news-page__content
						h1.h1 Строительство коттеджных поселков

						picture
							source(type="image/webp" srcset="img/tmp/news-page.webp")
							img(src="img/tmp/news-page.jpg" alt="")

						p Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Внезапно, независимые государства неоднозначны и будут преданы социально-демократической анафеме.
						p Противоположная точка зрения подразумевает, что представители современных социальных резервов, инициированные исключительно синтетически, преданы социально-демократической анафеме. Разнообразный и богатый опыт говорит нам, что граница обучения кадров обеспечивает широкому кругу (специалистов) участие
						p Но сложившаяся структура организации является качественно новой ступенью как самодостаточных, так и внешне зависимых концептуальных решений. Задача организации, в особенности же сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.
						p Приятно, граждане, наблюдать, как базовые сценарии поведения пользователей превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Внезапно, независимые государства неоднозначны и будут преданы социально-демократической анафеме.
						p Противоположная точка зрения подразумевает, что представители современных социальных резервов, инициированные исключительно синтетически, преданы социально-демократической анафеме. Разнообразный и богатый опыт говорит нам, что граница обучения кадров обеспечивает широкому кругу (специалистов) участие
						p Но сложившаяся структура организации является качественно новой ступенью как самодостаточных, так и внешне зависимых концептуальных решений. Задача организации, в особенности же сплочённость команды профессионалов создаёт необходимость включения в производственный план целого ряда внеочередных мероприятий с учётом комплекса форм воздействия.

				aside.main__aside
					include includes/_filters.pug

		include includes/_footer.pug

		include includes/_scripts.pug