doctype html
html(lang="ru")
	head
		- var seo = {title: 'Служебная страница', description: 'Служебная страница', keywords: 'Служебная страница'}
		include includes/_meta.pug
	body
		include includes/_header.pug
		include includes/_search.pug

		main.main.text
			.container.main__cols

				.main__content
					include includes/_breadcrumbs.pug

					h1.h1 Заголовок служебной страницы

					p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.

					h2 Заголовок h2

					p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.

					h3 Заголовок h3

					p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы.

					ul
						li Элемент маркированного списка
						li Элемент маркированного списка
						li Элемент маркированного списка

					ol
						li Элемент нумерованного списка
						li Элемент нумерованного списка
						li Элемент нумерованного списка

					p
						a(href="#") Пример ссылки


		include includes/_footer.pug

		include includes/_scripts.pug