doctype html
html(lang="ru")
	head
		- var seo = {title: 'ЖК', description: 'Описание страницы ЖК', keywords: 'Ключи страницы ЖК'}
		include includes/_meta.pug
	body
		include includes/_header.pug
		include includes/_search.pug

		main.main
			.container.main__cols

				.main__content
					include includes/_breadcrumbs.pug

					h1.h1 Новостройка Новосибирска

					section.section._nopt.tags
						a.tags__item(href="builder.html") С детьми
						a.tags__item(href="builder.html") Двор без машин
						a.tags__item(href="builder.html") Бизнесс-класс
						a.tags__item(href="builder.html") С детьми
						a.tags__item(href="builder.html") Двор без машин
						a.tags__item(href="builder.html") Бизнес-класс
						a.tags__item(href="builder.html") С детьми
						a.tags__item(href="builder.html") Двор без машин

					section.section._nopt._nopb.text
						p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.

					section.section._nopb#zhk-photo
						.section__head
							h2.h2 Фотографии
							.carousel__controls._head
								.carousel__control._photo
									button._prev(type="button" data-controls="prev")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")
									button._next(type="button" data-controls="next")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")

						.carousel
							.carousel__init._photo
								- var n = 0;
								while n < 6
									.carousel__item
										a.photo-item(href="img/tmp/carousel-photo.jpg" data-fslightbox="photo")
											picture
												source(type="image/webp" srcset="img/tmp/carousel-photo.webp")
												img(src="img/tmp/carousel-photo.jpg" alt="")
									- n = n + 1;
							.carousel__controls
								.carousel__nav._photo
									- var n = 0;
										while n < 6
											button(type="button")
											- n = n + 1;

					section.section._nopb#zhk-layout
						.section__head
							h2.h2 Планировки
							.carousel__controls._head
								.carousel__control._layout
									button._prev(type="button" data-controls="prev")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")
									button._next(type="button" data-controls="next")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")

						.carousel
							.carousel__init._layout
								- var n = 0;
								while n < 6
									.carousel__item
										a.photo-item(href="img/tmp/carousel-photo.jpg" data-fslightbox="layout")
											picture
												source(type="image/webp" srcset="img/tmp/carousel-photo.webp")
												img(src="img/tmp/carousel-photo.jpg" alt="")
									- n = n + 1;
							.carousel__controls
								.carousel__nav._layout
									- var n = 0;
										while n < 6
											button(type="button")
											- n = n + 1;

					section.section._nopb.text
						p Чем больше появляется новинок среди гаджетов, тем больше хочется их приобрести. Поэтому часто владельцы популярных айфонов или айпадов стремятся продать прошлые модели, чтобы приобрести более новые. Кроме этого, часто продажа связана и с тем, что нужны финансы. Продажа айфона (айпада) может принести хорошую сумму. Поэтому важно подойти к этому вопросу весьма ответственно.

					section.section.info._nopb#zhk-info
						h2.h2 Информация

						.info__tabs
							button._active(type="button" data-item="tab-1") Застройщик
							button(type="button" data-item="tab-2") Расположение
							button(type="button" data-item="tab-3") О доме
							button(type="button" data-item="tab-4") Площадь и цена

						.info__content._active(data-item="tab-1")
							.info__item
								span Вид недвижимости
								span Жилая
							.info__item
								span Вид объектов недвижимости
								span Жилые
							.info__item
								span Бренд
								span Армани
							.info__item
								span Застройщик (Девелопер)
								span 25 этажей
							.info__item
								span Разрешение на строительство
								span На закрытой территории - современные зоны для игр, отдыха и спорта.
							.info__item
								span Файл разрешения
								span Петроградский район

						.info__content(data-item="tab-2")
							.info__item
								span Регион
								span Жилая
							.info__item
								span Населенный пункт
								span Жилые
							.info__item
								span Административный округ
								span Армани
							.info__item
								span Район
								span 25 этажей
							.info__item
								span Микрорайон
								span На закрытой территории - современные зоны для игр, отдыха и спорта.
							.info__item
								span Улица
								span Петроградский район
							.info__item
								span № дома
								span Петроградский район
							.info__item
								span № корпуса
								span Петроградский район
							.info__item
								span Шоссе
								span Петроградский район
							.info__item
								span Ближайшая станция метро
								span Петроградский район
							.info__item
								span Ближайшая ж/д станция
								span Петроградский район
							.info__item
								span Ближайшая станция МЦД
								span Петроградский район
							.info__item
								span Ближайшая станция МЦК
								span Петроградский район
							.info__item
								span Расстояние от МКАд, км
								span Петроградский район
							.info__item
								span До метро пешком, мин.
								span Петроградский район
							.info__item
								span До метро на автомобиле, мин.
								span Петроградский район
							.info__item
								span Ближайшие остановки и разнообразие общественного транспорт
								span Петроградский район
							.info__item
								span Расстояние/время на автомобиле/пешком до (аэропорт/ы, Ж/Д вокзал/ы, автовокзал/ы, центра города или главной площади города, другие знаковые точки)
								span Петроградский район

						.info__content._active(data-item="tab-3")
							.info__item
								span Срок сдачи
								span Жилая
							.info__item
								span Готовность %
								span Жилые
							.info__item
								span Класс жилья
								span Армани
							.info__item
								span Тип дома
								span 25 этажей
							.info__item
								span Внутренняя отделка общественных зон
								span На закрытой территории - современные зоны для игр, отдыха и спорта.
							.info__item
								span Внутренняя отделка квартир
								span Петроградский район
							.info__item
								span Ход строительства
								span Петроградский район
							.info__item
								span Стадия продаж
								span Петроградский район
							.info__item
								span Форма продажи
								span Петроградский район

						.info__content._active(data-item="tab-4")
							.info__item
								span Площадь, мин м²
								span Жилая
							.info__item
								span Площадь, макс м²
								span Жилые
							.info__item
								span Цена, мин рублей за м²
								span Армани
							.info__item
								span Цена, макс рублей за м²
								span 25 этажей

					section.section.video._nopb#zhk-video
						h2.h2 Видео

						a.video__item(href="https://www.youtube.com/watch?v=7-OFOpvCgMg" data-fslightbox)
							img(src="img/tmp/video.jpg" alt="")
							span.video__play

					section.section.document._nopb#zhk-document
						h2.h2 Документы

						.document__cols
							a.document__item(href="#")
								svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M36.2496 9.91123L26.5774 0.23914C26.4242 0.0860155 26.2167 0 26.0002 0H7.47857C5.29091 0 3.51123 1.77984 3.51123 3.96749V36.0326C3.51123 38.2202 5.29099 40 7.47864 40H32.5213C34.709 40 36.4887 38.2202 36.4887 36.0326V10.4885C36.4887 10.272 36.4027 10.0644 36.2496 9.91123ZM26.8167 2.78742L33.7016 9.67225H29.1515C28.5277 9.67225 27.9413 9.42936 27.5004 8.98842C27.0595 8.54756 26.8167 7.96123 26.8167 7.33756V2.78742ZM34.856 36.0325C34.856 37.3199 33.8087 38.3673 32.5213 38.3673H7.47857C6.19115 38.3673 5.14381 37.3199 5.14381 36.0325V3.96749C5.14388 2.68007 6.19123 1.63265 7.47857 1.63265H25.1841V7.33741C25.1839 8.39717 25.5966 9.3935 26.3459 10.1428C27.0952 10.8922 28.0916 11.3048 29.1514 11.3048H34.8559V36.0325H34.856Z" fill="#87919F")
									path(d="M21.4914 27.46H21.1259C20.6751 27.46 20.3096 27.8254 20.3096 28.2763C20.3096 28.7271 20.6751 29.0926 21.1259 29.0926H21.4914C21.9421 29.0926 22.3077 28.7271 22.3077 28.2763C22.3077 27.8254 21.9421 27.46 21.4914 27.46Z" fill="#87919F")
									path(d="M18.4851 27.46H10.5561C10.1053 27.46 9.73975 27.8254 9.73975 28.2763C9.73975 28.7271 10.1053 29.0926 10.5561 29.0926H18.4851C18.9359 29.0926 19.3014 28.7271 19.3014 28.2763C19.3014 27.8254 18.936 27.46 18.4851 27.46Z" fill="#87919F")
									path(d="M29.4438 23.7305H10.5561C10.1053 23.7305 9.73975 24.0959 9.73975 24.5468C9.73975 24.9977 10.1053 25.3631 10.5561 25.3631H29.4438C29.8946 25.3631 30.2601 24.9977 30.2601 24.5468C30.2601 24.0959 29.8946 23.7305 29.4438 23.7305Z" fill="#87919F")
									path(d="M29.4438 20H10.5561C10.1053 20 9.73975 20.3655 9.73975 20.8163C9.73975 21.2672 10.1053 21.6327 10.5561 21.6327H29.4438C29.8946 21.6327 30.2601 21.2672 30.2601 20.8163C30.2601 20.3655 29.8946 20 29.4438 20Z" fill="#87919F")
									path(d="M29.4438 16.2695H10.5561C10.1053 16.2695 9.73975 16.635 9.73975 17.0859C9.73975 17.5367 10.1053 17.9022 10.5561 17.9022H29.4438C29.8946 17.9022 30.2601 17.5367 30.2601 17.0859C30.2601 16.635 29.8946 16.2695 29.4438 16.2695Z" fill="#87919F")
								span Название документа в две строки
							a.document__item(href="#")
								svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M36.2496 9.91123L26.5774 0.23914C26.4242 0.0860155 26.2167 0 26.0002 0H7.47857C5.29091 0 3.51123 1.77984 3.51123 3.96749V36.0326C3.51123 38.2202 5.29099 40 7.47864 40H32.5213C34.709 40 36.4887 38.2202 36.4887 36.0326V10.4885C36.4887 10.272 36.4027 10.0644 36.2496 9.91123ZM26.8167 2.78742L33.7016 9.67225H29.1515C28.5277 9.67225 27.9413 9.42936 27.5004 8.98842C27.0595 8.54756 26.8167 7.96123 26.8167 7.33756V2.78742ZM34.856 36.0325C34.856 37.3199 33.8087 38.3673 32.5213 38.3673H7.47857C6.19115 38.3673 5.14381 37.3199 5.14381 36.0325V3.96749C5.14388 2.68007 6.19123 1.63265 7.47857 1.63265H25.1841V7.33741C25.1839 8.39717 25.5966 9.3935 26.3459 10.1428C27.0952 10.8922 28.0916 11.3048 29.1514 11.3048H34.8559V36.0325H34.856Z" fill="#87919F")
									path(d="M21.4914 27.46H21.1259C20.6751 27.46 20.3096 27.8254 20.3096 28.2763C20.3096 28.7271 20.6751 29.0926 21.1259 29.0926H21.4914C21.9421 29.0926 22.3077 28.7271 22.3077 28.2763C22.3077 27.8254 21.9421 27.46 21.4914 27.46Z" fill="#87919F")
									path(d="M18.4851 27.46H10.5561C10.1053 27.46 9.73975 27.8254 9.73975 28.2763C9.73975 28.7271 10.1053 29.0926 10.5561 29.0926H18.4851C18.9359 29.0926 19.3014 28.7271 19.3014 28.2763C19.3014 27.8254 18.936 27.46 18.4851 27.46Z" fill="#87919F")
									path(d="M29.4438 23.7305H10.5561C10.1053 23.7305 9.73975 24.0959 9.73975 24.5468C9.73975 24.9977 10.1053 25.3631 10.5561 25.3631H29.4438C29.8946 25.3631 30.2601 24.9977 30.2601 24.5468C30.2601 24.0959 29.8946 23.7305 29.4438 23.7305Z" fill="#87919F")
									path(d="M29.4438 20H10.5561C10.1053 20 9.73975 20.3655 9.73975 20.8163C9.73975 21.2672 10.1053 21.6327 10.5561 21.6327H29.4438C29.8946 21.6327 30.2601 21.2672 30.2601 20.8163C30.2601 20.3655 29.8946 20 29.4438 20Z" fill="#87919F")
									path(d="M29.4438 16.2695H10.5561C10.1053 16.2695 9.73975 16.635 9.73975 17.0859C9.73975 17.5367 10.1053 17.9022 10.5561 17.9022H29.4438C29.8946 17.9022 30.2601 17.5367 30.2601 17.0859C30.2601 16.635 29.8946 16.2695 29.4438 16.2695Z" fill="#87919F")
								span Название документа в две строки
							a.document__item(href="#")
								svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M36.2496 9.91123L26.5774 0.23914C26.4242 0.0860155 26.2167 0 26.0002 0H7.47857C5.29091 0 3.51123 1.77984 3.51123 3.96749V36.0326C3.51123 38.2202 5.29099 40 7.47864 40H32.5213C34.709 40 36.4887 38.2202 36.4887 36.0326V10.4885C36.4887 10.272 36.4027 10.0644 36.2496 9.91123ZM26.8167 2.78742L33.7016 9.67225H29.1515C28.5277 9.67225 27.9413 9.42936 27.5004 8.98842C27.0595 8.54756 26.8167 7.96123 26.8167 7.33756V2.78742ZM34.856 36.0325C34.856 37.3199 33.8087 38.3673 32.5213 38.3673H7.47857C6.19115 38.3673 5.14381 37.3199 5.14381 36.0325V3.96749C5.14388 2.68007 6.19123 1.63265 7.47857 1.63265H25.1841V7.33741C25.1839 8.39717 25.5966 9.3935 26.3459 10.1428C27.0952 10.8922 28.0916 11.3048 29.1514 11.3048H34.8559V36.0325H34.856Z" fill="#87919F")
									path(d="M21.4914 27.46H21.1259C20.6751 27.46 20.3096 27.8254 20.3096 28.2763C20.3096 28.7271 20.6751 29.0926 21.1259 29.0926H21.4914C21.9421 29.0926 22.3077 28.7271 22.3077 28.2763C22.3077 27.8254 21.9421 27.46 21.4914 27.46Z" fill="#87919F")
									path(d="M18.4851 27.46H10.5561C10.1053 27.46 9.73975 27.8254 9.73975 28.2763C9.73975 28.7271 10.1053 29.0926 10.5561 29.0926H18.4851C18.9359 29.0926 19.3014 28.7271 19.3014 28.2763C19.3014 27.8254 18.936 27.46 18.4851 27.46Z" fill="#87919F")
									path(d="M29.4438 23.7305H10.5561C10.1053 23.7305 9.73975 24.0959 9.73975 24.5468C9.73975 24.9977 10.1053 25.3631 10.5561 25.3631H29.4438C29.8946 25.3631 30.2601 24.9977 30.2601 24.5468C30.2601 24.0959 29.8946 23.7305 29.4438 23.7305Z" fill="#87919F")
									path(d="M29.4438 20H10.5561C10.1053 20 9.73975 20.3655 9.73975 20.8163C9.73975 21.2672 10.1053 21.6327 10.5561 21.6327H29.4438C29.8946 21.6327 30.2601 21.2672 30.2601 20.8163C30.2601 20.3655 29.8946 20 29.4438 20Z" fill="#87919F")
									path(d="M29.4438 16.2695H10.5561C10.1053 16.2695 9.73975 16.635 9.73975 17.0859C9.73975 17.5367 10.1053 17.9022 10.5561 17.9022H29.4438C29.8946 17.9022 30.2601 17.5367 30.2601 17.0859C30.2601 16.635 29.8946 16.2695 29.4438 16.2695Z" fill="#87919F")
								span Название документа в две строки
							a.document__item(href="#")
								svg(width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(d="M36.2496 9.91123L26.5774 0.23914C26.4242 0.0860155 26.2167 0 26.0002 0H7.47857C5.29091 0 3.51123 1.77984 3.51123 3.96749V36.0326C3.51123 38.2202 5.29099 40 7.47864 40H32.5213C34.709 40 36.4887 38.2202 36.4887 36.0326V10.4885C36.4887 10.272 36.4027 10.0644 36.2496 9.91123ZM26.8167 2.78742L33.7016 9.67225H29.1515C28.5277 9.67225 27.9413 9.42936 27.5004 8.98842C27.0595 8.54756 26.8167 7.96123 26.8167 7.33756V2.78742ZM34.856 36.0325C34.856 37.3199 33.8087 38.3673 32.5213 38.3673H7.47857C6.19115 38.3673 5.14381 37.3199 5.14381 36.0325V3.96749C5.14388 2.68007 6.19123 1.63265 7.47857 1.63265H25.1841V7.33741C25.1839 8.39717 25.5966 9.3935 26.3459 10.1428C27.0952 10.8922 28.0916 11.3048 29.1514 11.3048H34.8559V36.0325H34.856Z" fill="#87919F")
									path(d="M21.4914 27.46H21.1259C20.6751 27.46 20.3096 27.8254 20.3096 28.2763C20.3096 28.7271 20.6751 29.0926 21.1259 29.0926H21.4914C21.9421 29.0926 22.3077 28.7271 22.3077 28.2763C22.3077 27.8254 21.9421 27.46 21.4914 27.46Z" fill="#87919F")
									path(d="M18.4851 27.46H10.5561C10.1053 27.46 9.73975 27.8254 9.73975 28.2763C9.73975 28.7271 10.1053 29.0926 10.5561 29.0926H18.4851C18.9359 29.0926 19.3014 28.7271 19.3014 28.2763C19.3014 27.8254 18.936 27.46 18.4851 27.46Z" fill="#87919F")
									path(d="M29.4438 23.7305H10.5561C10.1053 23.7305 9.73975 24.0959 9.73975 24.5468C9.73975 24.9977 10.1053 25.3631 10.5561 25.3631H29.4438C29.8946 25.3631 30.2601 24.9977 30.2601 24.5468C30.2601 24.0959 29.8946 23.7305 29.4438 23.7305Z" fill="#87919F")
									path(d="M29.4438 20H10.5561C10.1053 20 9.73975 20.3655 9.73975 20.8163C9.73975 21.2672 10.1053 21.6327 10.5561 21.6327H29.4438C29.8946 21.6327 30.2601 21.2672 30.2601 20.8163C30.2601 20.3655 29.8946 20 29.4438 20Z" fill="#87919F")
									path(d="M29.4438 16.2695H10.5561C10.1053 16.2695 9.73975 16.635 9.73975 17.0859C9.73975 17.5367 10.1053 17.9022 10.5561 17.9022H29.4438C29.8946 17.9022 30.2601 17.5367 30.2601 17.0859C30.2601 16.635 29.8946 16.2695 29.4438 16.2695Z" fill="#87919F")
								span Название документа в две строки

					section.section._nopb.place#zhk-place
						h2.h2 Расположение

						.place__cols
							.place__col
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A006480c95a9bb9631558e5a0db02b1edafacd43e7ec24839c2f0ec6f3e13815e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false")
							.place__col
								script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A006480c95a9bb9631558e5a0db02b1edafacd43e7ec24839c2f0ec6f3e13815e&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;scroll=false")

					section.section._nopb#zhk-news
						.section__head
							h2.h2 Новости новостроек Новосибирска
							a.section__all(href="#") Все

						.carousel
							.carousel__init._news
								- var n = 0;
								while n < 6
									.carousel__item
										.news-item
											.news-item__col.news-item__img._left
												a(href="news-page.html")
													picture
														source(type="image/webp" srcset="img/tmp/carousel-news.webp")
														img(src="img/tmp/carousel-news.jpg" alt="")
											.news-item__col._right
												.news-item__top
													.news-item__date 12.06.2020
													a.news-item__title(href="news-page.html") Строительство коттеджных поселков
													.news-item__text Инструменты портала помогают легко ориентироваться в сотнях поселков от петербургских строительных компаний.
												a.news-item__link(href="news-page.html")
													span Читать подробнее
													svg(width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1.0625 6.42934H13.6638L9.80687 1.75833C9.62653 1.53954 9.53976 1.25748 9.56567 0.974193C9.59157 0.690905 9.72802 0.429595 9.945 0.247748C10.162 0.0659016 10.4417 -0.0215855 10.7227 0.00453334C11.0036 0.0306521 11.2628 0.168237 11.4431 0.387021L16.7556 6.81502C16.7914 6.86615 16.8233 6.91986 16.8513 6.97572C16.8513 7.02928 16.8512 7.06142 16.9256 7.11499C16.9738 7.23783 16.999 7.36859 17 7.50067C16.999 7.63275 16.9738 7.76351 16.9256 7.88635C16.9256 7.93992 16.9256 7.97206 16.8513 8.02562C16.8233 8.08148 16.7914 8.13519 16.7556 8.18632L11.4431 14.6143C11.3432 14.7353 11.2181 14.8325 11.0767 14.8992C10.9353 14.9658 10.7811 15.0003 10.625 15C10.3767 15.0005 10.1362 14.9133 9.945 14.7536C9.83741 14.6637 9.74848 14.5532 9.68329 14.4286C9.61811 14.3039 9.57795 14.1675 9.56512 14.0272C9.55229 13.8869 9.56704 13.7454 9.60852 13.6108C9.65001 13.4763 9.71741 13.3513 9.80687 13.243L13.6638 8.572H1.0625C0.780708 8.572 0.510456 8.45913 0.311199 8.25822C0.11194 8.0573 0 7.7848 0 7.50067C0 7.21653 0.11194 6.94404 0.311199 6.74312C0.510456 6.54221 0.780708 6.42934 1.0625 6.42934Z" fill="#87919F")
										.news-item
											.news-item__col.news-item__img._left
												a(href="news-page.html")
													picture
														source(type="image/webp" srcset="img/tmp/carousel-news.webp")
														img(src="img/tmp/carousel-news.jpg" alt="")
											.news-item__col._right
												.news-item__top
													.news-item__date 12.06.2020
													a.news-item__title(href="news-page.html") Строительство коттеджных поселков
													.news-item__text Инструменты портала помогают легко ориентироваться в сотнях поселков от петербургских строительных компаний.
												a.news-item__link(href="news-page.html")
													span Читать подробнее
													svg(width="17" height="15" viewBox="0 0 17 15" fill="none" xmlns="http://www.w3.org/2000/svg")
														path(d="M1.0625 6.42934H13.6638L9.80687 1.75833C9.62653 1.53954 9.53976 1.25748 9.56567 0.974193C9.59157 0.690905 9.72802 0.429595 9.945 0.247748C10.162 0.0659016 10.4417 -0.0215855 10.7227 0.00453334C11.0036 0.0306521 11.2628 0.168237 11.4431 0.387021L16.7556 6.81502C16.7914 6.86615 16.8233 6.91986 16.8513 6.97572C16.8513 7.02928 16.8512 7.06142 16.9256 7.11499C16.9738 7.23783 16.999 7.36859 17 7.50067C16.999 7.63275 16.9738 7.76351 16.9256 7.88635C16.9256 7.93992 16.9256 7.97206 16.8513 8.02562C16.8233 8.08148 16.7914 8.13519 16.7556 8.18632L11.4431 14.6143C11.3432 14.7353 11.2181 14.8325 11.0767 14.8992C10.9353 14.9658 10.7811 15.0003 10.625 15C10.3767 15.0005 10.1362 14.9133 9.945 14.7536C9.83741 14.6637 9.74848 14.5532 9.68329 14.4286C9.61811 14.3039 9.57795 14.1675 9.56512 14.0272C9.55229 13.8869 9.56704 13.7454 9.60852 13.6108C9.65001 13.4763 9.71741 13.3513 9.80687 13.243L13.6638 8.572H1.0625C0.780708 8.572 0.510456 8.45913 0.311199 8.25822C0.11194 8.0573 0 7.7848 0 7.50067C0 7.21653 0.11194 6.94404 0.311199 6.74312C0.510456 6.54221 0.780708 6.42934 1.0625 6.42934Z" fill="#87919F")
									- n = n + 1;
							.carousel__controls
								.carousel__nav._news
									- var n = 0;
										while n < 6
											button(type="button")
											- n = n + 1;
								.carousel__control._news
									button._prev(type="button" data-controls="prev")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")
									button._next(type="button" data-controls="next")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")


					section.section._nopb#zhk-reviews
						h2.h2 Отзывы

						.carousel
							.carousel__init._reviews
								- var n = 0;
								while n < 6
									.carousel__item
										.reviews-item
											.reviews-item__title Иван Иванов
											.reviews-item__text Картотека строящихся и готовых коттеджных поселков СПб включает подробное описание проектов, новости о ходе работ, фото и видео.
									- n = n + 1;
							.carousel__controls
								.carousel__nav._reviews
									- var n = 0;
										while n < 6
											button(type="button")
											- n = n + 1;
								.carousel__control._reviews
									button._prev(type="button" data-controls="prev")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")
									button._next(type="button" data-controls="next")
										svg(width="20" height="18" viewBox="0 0 20 18" fill="none" xmlns="http://www.w3.org/2000/svg")
											path(d="M18.75 7.7152H3.925L8.4625 2.10999C8.67467 1.84745 8.77675 1.50898 8.74628 1.16903C8.7158 0.829086 8.55527 0.515513 8.3 0.297298C8.04473 0.0790819 7.71563 -0.0259025 7.3851 0.00544001C7.05456 0.0367826 6.74967 0.201885 6.5375 0.464426L0.2875 8.17802C0.245451 8.23937 0.207849 8.30383 0.175 8.37086C0.175 8.43514 0.175 8.47371 0.0875002 8.53799C0.0308421 8.68539 0.0011764 8.8423 0 9.0008C0.0011764 9.1593 0.0308421 9.31621 0.0875002 9.46362C0.0875002 9.5279 0.0874998 9.56647 0.175 9.63075C0.207849 9.69778 0.245451 9.76223 0.2875 9.82359L6.5375 17.5372C6.65503 17.6823 6.8022 17.799 6.96856 17.879C7.13491 17.959 7.31636 18.0003 7.5 18C7.79207 18.0006 8.07511 17.896 8.3 17.7043C8.42657 17.5964 8.5312 17.4638 8.60789 17.3143C8.68458 17.1647 8.73183 17.001 8.74692 16.8326C8.76202 16.6643 8.74466 16.4945 8.69586 16.333C8.64705 16.1715 8.56775 16.0215 8.4625 15.8916L3.925 10.2864H18.75C19.0815 10.2864 19.3995 10.151 19.6339 9.90986C19.8683 9.66876 20 9.34177 20 9.0008C20 8.65984 19.8683 8.33284 19.6339 8.09175C19.3995 7.85065 19.0815 7.7152 18.75 7.7152Z" fill="#87919F")

					form.section._nopb.reviews-form(action="#" method="post")
						h2.h2 Форма для отзыва

						.reviews-form__group
							input.reviews-form__input(type="text" name="name" placeholder="Ваше имя")
						.reviews-form__group
							textarea.reviews-form__textarea(name="message" placeholder="Текст отзыва")
						button.btn.reviews-form__btn(type="submit") Отправить

				aside.main__aside
					ul.zhk-aside
						li
							a(href="#zhk-photo") Фотографии
						li
							a(href="#zhk-layout") Планировки
						li
							a(href="#zhk-info") Информация
						li
							a(href="#zhk-video") Видео
						li
							a(href="#zhk-document") Документы
						li
							a(href="#zhk-place") Расположение
						li
							a(href="#zhk-news") Новости
						li
							a(href="#zhk-reviews") Отзывы


		include includes/_footer.pug

		include includes/_scripts.pug