section.section.map
	.container
		.map__container
			.ymap-container
				#map.map__map
			.map__box
				.map__title Как добраться
				.map__bg
					.map__address г. Владимир, ул. Юбилейная, д. 15
					.map__item
						span.map__idx 01
						span.map__line
						span.map__text Выход в сторону первого вагона,из стеклянных дверей налево, налево вверх по ступенькам.
					.map__item
						span.map__idx 02
						span.map__line
						span.map__text Пройти прямо (10 метров)  до остановки - автобус №605 и 880 до остановки ул.Полярная (4 остановка), Перейти дорогу к коричневому жилому зданию Дежнёва 27к1) - вывеска Стоматология