section.section.sale._blue
	.container
		.sale__wrap-title
			h2.section__h2.sale__h2 Акции
			.carousel-controls.sale__controls
				button.carousel-controls__btn._prev(data-controls="prev")
					svg(width="53" height="24" viewBox="0 0 53 24" fill="none" xmlns="http://www.w3.org/2000/svg")
						use(xlink:href="#arrow-white")
				button.carousel-controls__btn._next(data-controls="next")
					svg(width="53" height="24" viewBox="0 0 53 24" fill="none" xmlns="http://www.w3.org/2000/svg")
						use(xlink:href="#arrow-white")

		.sale__carousel
			svg.sale__bg(width="100%" height="313" viewBox="0 0 1120 313" fill="none" xmlns="http://www.w3.org/2000/svg")
				use(xlink:href="#sale-bg")

			.sale__carousel-init
				.sale__item
					.sale__cols
						.sale__col._left
							.sale__title Имплантат Osstem
								span  (Южная Корея)
							.sale__pluses
								.sale__plus
									span +
									| Установка имплантата
								.sale__plus
									span +
									| Изготовление и установка металлокерамической коронки
							.sale__text
								p В стоимость включены все этапы: работа врача, имплантат Osstem, заглушка, формирователь десны, абатмент, снятие слепков, изготовление и установка металлокерамической коронки Ivoclar (Германия). Все профилактические осмотры.

						.sale__col._right
							.sale__oldprice 60 000
								span.rouble i
							.sale__price 40 000
								span.rouble i
				.sale__item
					.sale__cols
						.sale__col._left
							.sale__title Имплантат Osstem
								span  (Южная Корея)
							.sale__pluses
								.sale__plus
									span +
									| Установка имплантата
								.sale__plus
									span +
									| Изготовление и установка металлокерамической коронки
							.sale__text
								p В стоимость включены все этапы: работа врача, имплантат Osstem, заглушка, формирователь десны, абатмент, снятие слепков, изготовление и установка металлокерамической коронки Ivoclar (Германия).

						.sale__col._right
							.sale__oldprice 60 000
								span.rouble i
							.sale__price 40 000
								span.rouble i

	svg.section__blue-box._bottom(width="1058" height="405" viewBox="0 0 1058 405" fill="none" xmlns="http://www.w3.org/2000/svg")
		use(xlink:href="#section-blue")
	svg.section__blue-box._top(width="1058" height="405" viewBox="0 0 1058 405" fill="none" xmlns="http://www.w3.org/2000/svg")
		use(xlink:href="#section-blue")